@import 'variables';
body {
    font-size: 24px;
    color: $accent;
    background-color: $background;
}

#ws {
    display: block;
    outline: none;
    font-size: inherit;
    margin: 1em auto;
    padding-left: 8px;
    height: $elementHeight;
    border-radius: 4px;
    border-color: $accent;
    background-color: $background;
    color: $accent;
}

.time-picker {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: stretch;
    height: $elementHeight*3.6;
    width: 100%;
}

span.middle {
    display: inline-block;
    line-height: calc(#{$elementHeight*3.6} - 0.2em);
}

form.ampm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 0.25em;
    >label {
        opacity: 0.35;
        margin: 0.25em auto;
    }
    input {
        display: none;
        &:checked + label {
            opacity: 1;
        }
    }
}
