@import 'variables';
body {
    font-family: 'Roboto', sans-serif;
    user-select: none;
    font-size: 28px;
    color: $accent;
    background-color: $background;
}

#ws {
    width: 100%;
    max-width: 12em;
    display: block;
    outline: none;
    font-family: inherit;
    font-size: inherit;
    margin: auto;
    margin-top: 1em;
    margin-bottom: 1.2em;
    padding-left: 8px;
    height: 2em;
    border-radius: 4px;
    border-color: $accent;
    background-color: $background;
    color: $accent;
}

.time-picker {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: stretch;
    height: 6.5em;
    width: 100%;
}

span.middle {
    display: inline-block;
    line-height: 6.4em;
    margin: 0 0.25em;
}

form.ampm {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 0.5em;
    font-size: $clockFontSize;
    >label {
        opacity: 0.35;
    }
    input {
        display: none;
        &:checked + label {
            opacity: 1;
        }
    }
}

.social-btn {
    display: flex;
    justify-content: center;
    opacity: .75;
    * {
        display: inline-block !important;
        margin: 0 4px !important;
    }
    :nth-child(2) {
        margin-left: -4px !important;
    }
}

.fb-share-button>span {
    display: inline-block !important;
    vertical-align: top !important;
}
