div.drum-wrapper {
  font-family: 'Roboto', sans-serif;
  display: inline-block;
  position: relative;
  user-select: none;
  width: 2em; }
  div.drum-wrapper .inner {
    height: 100%;
    position: relative;
    overflow: hidden; }
  div.drum-wrapper div.container {
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    left: 0px; }
  div.drum-wrapper .dial {
    touch-action: none;
    user-select: none;
    position: absolute;
    width: 100%;
    left: 0px;
    height: 2.4em;
    background: linear-gradient(rgba(6, 6, 6, 0.9), rgba(6, 6, 6, 0)); }
    div.drum-wrapper .dial div {
      display: none; }
    div.drum-wrapper .dial svg {
      position: absolute;
      left: 50%;
      transform: translateX(-50%); }
  div.drum-wrapper .up {
    top: 0px; }
    div.drum-wrapper .up svg {
      top: 2px; }
  div.drum-wrapper .down {
    bottom: 0px;
    background: linear-gradient(rgba(6, 6, 6, 0), rgba(6, 6, 6, 0.9)); }
    div.drum-wrapper .down svg {
      bottom: 2px; }
  div.drum-wrapper div.container,
  div.drum-wrapper figure {
    font-size: 48px;
    height: 1em;
    line-height: 1em; }

/* actual drum styles */
div.drum {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  transform-style: preserve-3d; }
  div.drum figure {
    box-sizing: border-box;
    backface-visibility: hidden;
    position: absolute;
    left: 0px;
    top: 0px;
    margin: 0px;
    width: 100%; }
