div.drum-wrapper {
  display: inline-block;
  position: relative;
  user-select: none;
  width: 2em; }
  div.drum-wrapper .inner {
    height: 100%;
    position: relative;
    overflow: hidden; }
  div.drum-wrapper div.container {
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    left: 0px; }
  div.drum-wrapper .dial {
    position: absolute;
    width: 100%;
    left: 0px;
    height: 2.6em;
    background-color: rgba(46, 8, 5, 0.5); }
    div.drum-wrapper .dial div {
      height: 2em;
      margin: 0 auto; }
    div.drum-wrapper .dial svg {
      position: absolute;
      left: 50%;
      transform: translateX(-50%); }
  div.drum-wrapper .up {
    top: 0px; }
    div.drum-wrapper .up svg {
      top: 2px; }
  div.drum-wrapper .down {
    bottom: 0px; }
    div.drum-wrapper .down svg {
      bottom: 2px; }
  div.drum-wrapper div.container,
  div.drum-wrapper figure {
    height: 2em;
    line-height: 2em; }

/* actual drum styles */
div.drum {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  transform-style: preserve-3d; }
  div.drum figure {
    box-sizing: border-box;
    backface-visibility: hidden;
    position: absolute;
    left: 0px;
    top: 0px;
    margin: 0px;
    padding: 0px 3px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 100%; }
